<!-- Footer -->
<footer id="main-footer" class="py-4 bg-primary text-white text-center" style="position: fixed;
left: 0;
bottom: 0;
width: 100%;">
    Copyright &copy;
    <span class="year">2020</span> User Management
</footer>