{% load static %}
<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-primary sticky-top">
        <div class="container">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <ul class="navbar-nav ml-auto">
              {% if user.is_authenticated %}
                <li
                  {% if 'dashboard' in request.path %} 
                    class="nav-item active mr-3"
                  {% else %}
                    class="nav-item mr-3"
                  {% endif %}
                  >
                    <a class="nav-link" href="{% url 'dashboard' %}">
                    Welcome {{ user.username }} (Dashboard)</a>
                </li>
                <li class="nav-item mr-3">
                  <a href="javascript:{document.getElementById('logout').submit()}" class="nav-link">
                    Logout
                  </a>
                  <form action="{% url 'logout' %}" method="POST" id="logout">
                    {% csrf_token %}
                    <input type="hidden"/>
                  </form>
                </li>
              {% else %}
                <li
                {% if 'signup' in request.path %} 
                  class="nav-item active mr-3"
                {% else %}
                  class="nav-item mr-3"
                {% endif %}
                >
                  <a class="nav-link" href="{% url 'signup' %}">SignUp</a>
                </li>
                <li
                {% if 'login' in request.path %} 
                  class="nav-item active mr-3"
                {% else %}
                  class="nav-item mr-3"
                {% endif %}
                >
                  <a class="nav-link" href="{% url 'login' %}"> Login</a>
                </li>
                {% endif %}
            </ul>
          </div>
        </div>
      </nav>