{% extends 'base.html' %}

{% block title %} | Dashboard {% endblock %}

{% block content %}
<!-- Breadcrumb -->
<section id="bc" class="mt-3">
<div class="container">
    <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item active">
            Home
        </li>
    </ol>
    </nav>
</div>
</section>

<!-- Alerts-->
{% include 'partials/_alerts.html' %}

<section id="dashboard" class="py-4">
<div class="container">
<!-- my profile section-->
<div>
    <div class="row">
        <div class="col-md-4">
            <div class="profile-img" style="width: 100%; height: 100%;">
                <img src="{{ userProfile.picture.url }}" alt=""/>
            </div>
        </div>
        <div class="col-md-6">
            <div class="profile-head">
                <h5>
                    {{ user.first_name }} {{ user.last_name }}
                </h5>
            </div>
        </div>
        <div class="col-md-2">
            <a href="{% url 'editProfile' %}" class="btn btn-primary" alt="">Edit Profile</a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="tab-content profile-tab" id="myTabContent">
                <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                            <div class="row">
                                <div class="col-md-6">
                                    <label><strong>Number Of Logins</strong></label>
                                </div>
                                <div class="col-md-6">
                                    <p>{{ userProfile.no_of_logins }}</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label><strong>Last Login Time</strong></label>
                                </div>
                                <div class="col-md-6">
                                    <p>{{ user.last_login }}</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label><strong>Last Logout Time</strong></label>
                                </div>
                                <div class="col-md-6">
                                    <p>{{ userProfile.last_logout_time }}</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label><strong>First Name</strong></label>
                                </div>
                                <div class="col-md-6">
                                    <p>{{ user.first_name }}</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label><strong>Last Name</strong></label>
                                </div>
                                <div class="col-md-6">
                                    <p>{{ user.last_name }}</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label><strong>Email</strong></label>
                                </div>
                                <div class="col-md-6">
                                    <p>{{ user.email }}</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label><strong>Contact Number</strong></label>
                                </div>
                                <div class="col-md-6">
                                    <p>{{ userProfile.phone_number }}</p>
                                </div>
                            </div>
                </div>
            </div>
        </div>
    </div>           
</div>
<!-- my profile section end-->
</div>
</section>
{% endblock %}