{% extends 'base.html' %}

{% block title %} | Edit Profile {% endblock %}

{% block content %}
<!-- Breadcrumb -->
<section id="bc" class="mt-3">
<div class="container">
    <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item active">
            <a href="{% url 'dashboard' %}" alt="">Home</a>
        </li>
        <li class="breadcrumb-item active"> Edit Profile</li>
    </ol>
    </nav>
</div>
</section>

<!-- Alerts-->
{% include 'partials/_alerts.html' %}

<section id="dashboard" class="py-4">
<div class="container">
<!-- my profile section-->
<div>
<form id="editProfile" method="post" action="{% url 'editProfile' %}" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="row">
        <div class="col-md-12">
            <div class="">
				<div class="form-group">
				  <label class="control-label col-sm-2" for="fname">First Name:</label>
				  <div class="col-sm-10">          
					<input type="text" class="form-control" id="fname" placeholder="Enter First Name" name="fname" value="{{ user.first_name }}"  minlength="2" maxlength="100" required/>
				  </div>
				</div>
				<div class="form-group">
				  <label class="control-label col-sm-2" for="lname">Last Name:</label>
				  <div class="col-sm-10">          
					<input type="text" class="form-control" id="lname" placeholder="Enter Last Name" name="lname" value="{{ user.last_name }}" minlength="2" maxlength="100" required>
				  </div>
				</div>
				<div class="form-group">
				  <label class="control-label col-sm-2" for="email">Email:</label>
				  <div class="col-sm-10">
					<input type="email" class="form-control" id="email" placeholder="Enter Email" name="email" value="{{ user.email }}" maxlength="100" required/>
				  </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="email">Contact Number:</label>
                    <div class="col-sm-10">
                      <input type="text" class="form-control" id="contact_number" placeholder="Enter Contact Number" name="contact_number" value="{{ userProfile.phone_number }}" minlength="10" maxlength="10" required/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="email">Profile Image:</label>
                    <div class="col-sm-10">
                      <input type="file" class="form-control" id="profile_image" name="image">
                    </div>
                </div>
				<div class="form-group">        
				  <div class="col-sm-offset-2 col-sm-10">
					<button type="submit" class="btn btn-secondary btn-block">Update</button>
				  </div>
				</div>
			</div>
        </div>
    </div>
</form>           
</div>
<!-- my profile section end-->
</div>
</section>
{% endblock %}
{% block scripts %}
{% load static %}
<script src="{% static 'js/signup.js' %}"></script>
{% endblock %}