{% extends 'base.html' %}

{% block title %} | Login {% endblock %}

{% block content %}
<section id="login" class="bg-light py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-6 mx-auto">
          <div class="card">
            <div class="card-header bg-primary text-white">
              <h4>Login</h4>
            </div>
            <div class="card-body">
              <!-- Alerts-->
              {% include 'partials/_alerts.html' %}
              <form id="loginForm" action="{% url 'login' %}" method="POST">
                  {% csrf_token %}
                <div class="form-group">
                  <label for="username">Username</label>
                  <input type="text" name="username" class="form-control" minlength="3" maxlength="20" required=""/>
                </div>
                <div class="form-group">
                  <label for="password2">Password</label>
                  <input type="password" name="password" class="form-control" minlength="4" maxlength="16" required=""/>
                </div>
                <button type="submit" class="btn btn-secondary btn-block">Login</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  {% endblock %}
  {% block scripts %}
  {% load static %}
  <script src="{% static 'js/signup.js' %}"></script>
  {% endblock %}