{% extends 'base.html' %}

{% block title %} Signup {% endblock %}

{% block content %}
<section id="register" class="bg-light py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-6 mx-auto">
          <div class="card">
            <div class="card-header bg-primary text-white">
              <h4>Signup</h4>
            </div>
            <div class="card-body">
              <!-- Alerts-->
                {% include 'partials/_alerts.html' %}
                <form id="signup" action="{% url 'signup' %}" method="POST" enctype="multipart/form-data">
                 {% csrf_token %}
                  <div class="form-group">
                  <label for="first_name">First Name</label>
                  <input type="text" name="first_name" class="form-control" minlength="2" maxlength="100" required>
                </div>
                <div class="form-group">
                  <label for="last_name">Last Name</label>
                  <input type="text" name="last_name" class="form-control" minlength="2" maxlength="100" required>
                </div>
                <div class="form-group">
                  <label for="username">Username</label>
                  <input type="text" name="username" class="form-control" minlength="3" maxlength="20" required>
                </div>
                <div class="form-group">
                  <label for="email">Email</label>
                  <input type="email" name="email" class="form-control" maxlength="100" required>
                </div>
                <div class="form-group">
                  <label for="password2">Password</label>
                  <input type="password" name="password" class="form-control" minlength="4" maxlength="16" required>
                </div>
                <div class="form-group">
                  <label for="password">Confirm Password</label>
                  <input type="password" name="password2" class="form-control" minlength="4" maxlength="16" required>
                </div>
                <div class="form-group">
                  <label for="phone">Phone Number</label>
                  <input type="text" name="phone" class="form-control" minlength="10" maxlength="10" required>
                </div>
                <div class="form-group">
                  <label for="image">Profile Picture</label>
                  <input type="file" name="image" class="form-control" required>
                </div>
                <input type="submit" value="Register" class="btn btn-secondary btn-block">
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  {% endblock %}
  {% block scripts %}
  {% load static %}
  <script src="{% static 'js/signup.js' %}"></script>
  {% endblock %}